*{
    margin: 0;
    padding: 0;
}
body{
  background: rgba(0, 0, 0, 0.7)url("img2.jpg") center center fixed;  
background-size: cover;
background-blend-mode: darken;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.container{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.container h1{
    color: orangered;
    margin-left: 10px;
    cursor: pointer;
}
.navbar ul li{
    display: inline-block;
    padding: 18px;
    text-transform: uppercase;
}
.navbar ul li a{
    text-decoration: none;
    color: aliceblue;
    padding: 4px;
    transition: 3.5s;
}
.navbar ul li a:hover{
    box-shadow: 0 3px 50px orangered inset,0 3px 50px orangered inset,0 3px 50px orangered inset,0 3px 50px orangered inset;
}
.navbar .reservation{
    padding: 8px;
    background-color: orangered;

}
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}
.item img{ 
width: 100%;
height: 300px;
object-fit: cover;
cursor: pointer;
transition: 0.2s ease;
}
.item img:hover{
    transform:scale(1.04)
}
.item h4{
    padding: 5px;
    text-align: center;
    color: #fff;
}
.item button{
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: orangered;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    transition: 0.2s all;
}
.item button:hover{
    transform: scale(1.08);

}
@media  screen and (max-width:1000px) {
    .items{
        grid-template-columns: repeat(2,1fr);
    }
    
}
@media  screen and (max-width:768px) {
    .items{
        grid-template-columns: repeat(1,1fr);
    }
    
}

